GOOGLE_CLIENT_ID=
ANIME_AUTH_ALLOWED_EMAILS=
ANIME_AUTH_ALLOWED_DOMAINS=
ANIME_ADMIN_EMAIL=
ANIME_SESSION_SECURE=
ANIME_SYNC_TOKEN=
ANIME_SYNC_MODE=daily
ANIME_INTERNAL_DAILY_SYNC=
ANIME_DAILY_SYNC_UTC_HOUR=2
ANIME_DAILY_SYNC_UTC_MINUTE=0
